a:link {
    text-decoration:none
}

a:visited {
    text-decoration:none
}

a:hover {
    text-decoration:underline;
    color:#669966;
    background-color:#ccffcc
}

img {
    border:1 #000000 none
}

img.i {
    width:16;
    height:16
}

img.s {
    width:32;
    height:16
}

img.il {
    width:32;
    height:32;
    align:left
}

img.r {
    width:16;
    height:12
}

img.shopicon {
    width:32;
    height:32
}

img.rank_1 {
    width:4;
    height:16
}

img.rank_5 {
    width:8;
    height:16
}

img.rank_10 {
    width:12;
    height:16
}

img.rank_25 {
    width:14;
    height:16
}

img.rank_50 {
    width:16;
    height:16
}
img.rank_75 {
    width:18;
    height:16
}
img.rank_100 {
    width:20;
    height:16
}
img.rank_150 {
    width:22;
    height:16
}
img.rank_200 {
    width:24;
    height:16
}

table {
    background-color: #ccddff
}

tr {
    background-color: #eef4ff
}
